// =============================================================================
// BC-DATEPICKER (CSS)
// =============================================================================


// Bigcommerce Component
// -----------------------------------------------------------------------------
//
// The Bigcommerce Coding Standards, coupled with Foundation.
// If any library overrides or extra CSS is needed, declare it here.
//
// 1. If set to false, there is no outputted CSS for this component.
//
// -----------------------------------------------------------------------------

@if $exportCSS--bcDatepicker {

    // Component
    // -------------------------------------------------------------------------

    .datepicker {
        background-color: $datepicker-background-color;
        box-shadow: $datepicker-box-shadow;
        display: inline-block;
        padding: $datepicker-padding;
        position: absolute;
        text-align: center;
    }

    .datepicker-month {
        font-size: $datepicker-month-font-size;
        font-weight: $datepicker-month-font-weight;
        margin: $datepicker-month-margin;
    }

    .datepicker-back,
    .datepicker-next {
        color: $datepicker-back-next-color;
        cursor: $datepicker-back-next-cursor;
        font-size: $datepicker-back-next-font-size;
        font-weight: $datepicker-back-next-font-weight;
        padding: $datepicker-back-next-padding;
    }

    .datepicker-back {
        float: left;

        &::before {
            content: $datepicker-back-content;
            display: block;
        }
    }

    .datepicker-next {
        float: right;

        &::before {
            content: $datepicker-next-content;
            display: block;
        }
    }

    .datepicker-days {
        margin: $datepicker-days-margin;
        border-collapse: separate;
        color: $datepicker-days-color;
        font-size: $datepicker-days-font-size;
        table-layout: fixed;
    }

    .datepicker-days-head {
        line-height: $datepicker-days-head-line-height;
    }

    .datepicker-day-name {
        color: $datepicker-day-name-color;
        font-size: $datepicker-day-name-font-size;
        font-weight: $datepicker-day-name-font-weight;
        text-transform: $datepicker-day-name-text-transform;
    }

    .datepicker-day {
        cursor: $cursor-pointer-value;
        height: $datepicker-day-height;
        line-height: $datepicker-day-line-height;
        padding: $datepicker-day-padding;
        position: relative;
        text-align: center;
        width: $datepicker-day-width;
        z-index: zIndex("lowest");

        &::before {
            @extend %datepicker-day-background;
        }

        &:hover::before {
            background-color: $datepicker-day-hover-background;
        }
    }

    .datepicker-day.is-selected {
        color: $datepicker-day-selected-color;
        cursor: $cursor-pointer-value;

        &::before {
            @extend %datepicker-day-background;
            background-color: $datepicker-day-selected-background;
        }

        &:hover::before {
            background-color: $datepicker-day-selected-background;
        }
    }

    %datepicker-day-background {
        border-radius: $datepicker-day-background-border-radius;
        bottom: $datepicker-day-background-bottom;
        content: "";
        left: $datepicker-day-background-left;
        position: absolute;
        right: $datepicker-day-background-right;
        top: $datepicker-day-background-top;
        z-index: -1;
    }

    .datepicker-day.is-disabled {
        color: $datepicker-day-disabled-color;
        cursor: $cursor-default-value;
    }
}

