// =============================================================================
// SCREEN SIZES
// =============================================================================


// Screen sizes
// -----------------------------------------------------------------------------

$screen-xxxlarge:               1920px;
$screen-xxlarge:                1681px;
$screen-xlarge:                 1441px;
$screen-large:                  1281px;
$screen-medium:                 1025px;
$screen-small:                  769px;
$screen-xsmall:                 481px;
$screen-xxsmall:                320px;



// Screen sizes map
// -----------------------------------------------------------------------------

$screenSizeMap: (
    xxxlarge:                   $screen-xxxlarge,
    xxlarge:                    $screen-xxlarge,
    xlarge:                     $screen-xlarge,
    large:                      $screen-large,
    medium:                     $screen-medium,
    small:                      $screen-small,
    xsmall:                     $screen-xsmall,
    xxsmall:                    $screen-xxsmall
);


//
// Screen sizes function
// -----------------------------------------------------------------------------

@function screenSize($key) {

    @if map-has-key($screenSizeMap, $key) {
        @return map-get($screenSizeMap, $key);
    }

    @warn "Unknown `#{$key}` in $screenSizeMap.";
    @return null;
}
