// =============================================================================
// WIDTHS (Tools)
// =============================================================================


// Width Mixins
// -----------------------------------------------------------------------------

@mixin u-widthMax($important: false) {

    @if $important == true {

        // Layout
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

    } @else {

        // Layout
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin u-widthFixed($important: false) {

    @include clearfix;

    @if $important == true {

        // Layout
        width: layout(max) !important;
        max-width: layout(fixed) !important;
        margin: auto !important;

    } @else {

        // Layout
        width: layout(max);
        max-width: layout(fixed);
        margin: auto;
    }
}

@mixin u-width-1-1($important: false) {

    @if $important == true {

        // Layout
        width: grid("1-1") !important;

    } @else {

        // Layout
        width: grid("1-1");
    }
}
@mixin u-width-4-5($important: false) {

    @if $important == true {

        // Layout
        width: grid("4-5") !important;

    } @else {

        // Layout
        width: grid("4-5");
    }
}
@mixin u-width-3-4($important: false) {

    @if $important == true {

        // Layout
        width: grid("3-4") !important;

    } @else {

        // Layout
        width: grid("3-4");
    }
}
@mixin u-width-2-3($important: false) {

    @if $important == true {

        // Layout
        width: grid("2-3") !important;

    } @else {

        // Layout
        width: grid("2-3");
    }
}
@mixin u-width-3-5($important: false) {

    @if $important == true {

        // Layout
        width: grid("3-5") !important;

    } @else {

        // Layout
        width: grid("3-5");
    }
}
@mixin u-width-1-2($important: false) {

    @if $important == true {

        // Layout
        width: grid("1-2") !important;

    } @else {

        // Layout
        width: grid("1-2");
    }
}
@mixin u-width-2-5($important: false) {

    @if $important == true {

        // Layout
        width: grid("2-5") !important;

    } @else {

        // Layout
        width: grid("2-5");
    }
}
@mixin u-width-1-3($important: false) {

    @if $important == true {

        // Layout
        width: grid("1-3") !important;

    } @else {

        // Layout
        width: grid("1-3");
    }
}
@mixin u-width-1-4($important: false) {

    @if $important == true {

        // Layout
        width: grid("1-4") !important;

    } @else {

        // Layout
        width: grid("1-4");
    }
}
@mixin u-width-1-5($important: false) {

    @if $important == true {

        // Layout
        width: grid("1-5") !important;

    } @else {

        // Layout
        width: grid("1-5");
    }
}
@mixin u-width-1-6($important: false) {

    @if $important == true {

        // Layout
        width: grid("1-6") !important;

    } @else {

        // Layout
        width: grid("1-6");
    }
}
@mixin u-width-1-7($important: false) {

    @if $important == true {

        // Layout
        width: grid("1-7") !important;

    } @else {

        // Layout
        width: grid("1-7");
    }
}
@mixin u-width-1-8($important: false) {

    @if $important == true {

        // Layout
        width: grid("1-8") !important;

    } @else {

        // Layout
        width: grid("1-8");
    }
}
@mixin u-width-1-10($important: false) {

    @if $important == true {

        // Layout
        width: grid("1-10") !important;

    } @else {

        // Layout
        width: grid("1-10");
    }
}

