// =============================================================================
// DIMENSIONS (Layout / Grid)
// =============================================================================


// Layout
// -----------------------------------------------------------------------------
//
// Define the layout width's for your project.
//
// -----------------------------------------------------------------------------

// Max Width
$widthMax:                      remCalc(1200px);

// Fixed Width
$widthFixed:                    90%;


// Layout Map
// -----------------------------------------------------------------------------

$layoutMap: (
    max:                        $widthMax,
    fixed:                      $widthFixed
);


// Spacing Function
// -----------------------------------------------------------------------------

@function layout($key) {

    @if map-has-key($layoutMap, $key) {
        @return map-get($layoutMap, $key);
    }

    @warn "Unknown `#{$key}` in $layoutMap.";
    @return null;
}


// Spacing Rhythm
// -----------------------------------------------------------------------------
//
// Create consistent spacing patterns in your entire projects aesthetics.
// Build your components margins, paddings, etc based off these spacing vars.
//
// -----------------------------------------------------------------------------

// Base Spacing
$spacingRhythm:                 $fontSizeBase * $lineHeightBase;


// Spacing Map
// -----------------------------------------------------------------------------

$spacingMap: (
    base:                       1rem,
    single:                     $spacingRhythm,
    double:                     $spacingRhythm * 2,
    half:                       $spacingRhythm / 2,
    third:                      $spacingRhythm / 3,
    quarter:                    $spacingRhythm / 4,
    fifth:                      $spacingRhythm / 5,
    sixth:                      $spacingRhythm / 6,
    eighth:                     $spacingRhythm / 8
);


// Spacing Function
// -----------------------------------------------------------------------------

@function spacing($key) {

    @if map-has-key($spacingMap, $key) {
        @return map-get($spacingMap, $key);
    }

    @warn "Unknown `#{$key}` in $spacingMap.";
    @return null;
}


// Grid Map
// -----------------------------------------------------------------------------

$grid: (

    // Named Widths
    max:                        remCalc(1200px),
    full:                       100%,
    fixed:                      90%,

    // Percentage Widths
    "1-1":                      100%,
    "4-5":                      80%,
    "3-4":                      75%,
    "2-3":                      66.6667%,
    "3-5":                      60%,
    "1-2":                      50%,
    "2-5":                      40%,
    "1-3":                      33.3334%,
    "1-4":                      25%,
    "1-5":                      20%,
    "1-6":                      16.6667%,
    "1-7":                      14.2858%,
    "1-8":                      12.5%,
    "1-10":                     10%
);


// Grid Function
// -----------------------------------------------------------------------------

@function grid($key) {

    @if map-has-key($grid, $key) {
        @return map-get($grid, $key);
    }

    @warn "Unknown `#{$key}` in $grid.";
    @return null;
}

