// =============================================================================
// COLORS
// =============================================================================


// Basic Colors
// -----------------------------------------------------------------------------

$colorBlack:                    #000;
$colorWhite:                    #fff;
$colorGrey:                     #798289;


// Brand Colors
// -----------------------------------------------------------------------------

$colorPrimary:                  #00abc9;
$colorSecondary:                #fff;
$colorHighlight:                #777;


// State Colors
// -----------------------------------------------------------------------------

$colorSuccess:                  #95db89;
$colorAlert:                    #db636b;
$colorWarning:                  #ffb800;
$colorInfo:                     #00abc9;


// Color Map
// -----------------------------------------------------------------------------

$colorMap: (

    // Base colors

    black: (
        base:                   $colorBlack
    ),

    white: (
        base:                   $colorWhite
    ),

    grey: (
        base:                   $colorGrey,
        darkest:                #313b47,
        darker:                 #3c4043,
        dark:                   #556273,
        medium:                 #acb3be,
        light:                  #e1e6eb,
        lighter:                #f1f3f7,
        lightest:               #f8f9fb
    ),


    // Branding

    primary: (
        base:                   $colorPrimary,
        dark:                   darken($colorPrimary, 6.25%),
        light:                  lighten($colorPrimary, 21.66%)
    ),

    secondary: (
        base:                   $colorSecondary,
        dark:                   lighten($colorGrey, 23%),
        light:                  lighten($colorGrey, 52.5%)
    ),

    highlight: (
        base:                   $colorHighlight,
        dark:                   darken($colorHighlight, 10%),
        light:                  lighten($colorHighlight, 10%)
    ),


    // State maps

    success: (
        base:                   $colorSuccess,
        dark:                   darken($colorSuccess, 10%),
        light:                  lighten($colorSuccess, 15%)
    ),

    alert: (
        base:                   $colorAlert,
        dark:                   darken($colorAlert, 10%),
        light:                  lighten($colorAlert, 15%)
    ),

    warning: (
        base:                   $colorWarning,
        dark:                   darken($colorWarning, 10%),
        light:                  lighten($colorWarning, 15%)
    ),

    info: (
        base:                   $colorInfo,
        dark:                   darken($colorInfo, 10%),
        light:                  lighten($colorInfo, 15%)
    ),


    // Links map

    link: (
        base:                   $colorPrimary,
        hover:                  darken($colorGrey, 14.9%)
    ),


    // Text Selection map

    selection: (
        base:                   $colorGrey,
        light:                  lighten($colorGrey, 52.5%)
    )
);


// Color Map Function
// -----------------------------------------------------------------------------

@function color($color, $tone: 'base') {
    @return map-get(map-get($colorMap, $color), $tone);
}

