// =============================================================================
// COLORS (CSS)
// =============================================================================


// Bigcommerce Utility Classes
// -----------------------------------------------------------------------------
//
// 1. If set to false, there is no outputted CSS for this component.
//
// -----------------------------------------------------------------------------

@if $exportCSS--colorUtilities { // 1

    // Background Utilities - Brand
    // -------------------------------------------------------------------------

    .u-bgPrimary                { background-color: color(primary) !important; }

    .u-bgPrimaryDark            { background-color: color(primary, dark) !important; }

    .u-bgPrimaryLight           { background-color: color(primary, light) !important; }

    .u-bgSecondary              { background-color: color(secondary) !important; }

    .u-bgSecondaryDark          { background-color: color(secondary, dark) !important; }

    .u-bgSecondaryLight         { background-color: color(secondary, light) !important; }

    .u-bgHighlight              { background-color: color(highlight) !important; }

    .u-bgHighlightDark          { background-color: color(highlight, dark) !important; }

    .u-bgHighlightLight         { background-color: color(highlight, light) !important; }


    // Background Utilities - Status
    // -------------------------------------------------------------------------

    .u-bgAlert                  { background-color: color(alert) !important; }

    .u-bgInfo                   { background-color: color(info) !important; }

    .u-bgSuccess                { background-color: color(success) !important; }

    .u-bgWarning                { background-color: color(warning) !important; }

    .u-bgAlertLight             { background-color: color(alert, light) !important; }

    .u-bgInfoLight              { background-color: color(info, light) !important; }

    .u-bgSuccessLight           { background-color: color(success, light) !important; }

    .u-bgWarningLight           { background-color: color(warning, light) !important; }


    // Color Utilities - Brand
    // -------------------------------------------------------------------------

    .u-colorPrimary             { color: color(primary) !important; }

    .u-colorPrimaryDark         { color: color(primary, dark) !important; }

    .u-colorPrimaryLight        { color: color(primary, light) !important; }

    .u-colorSecondary           { color: color(secondary) !important; }

    .u-colorSecondaryDark       { color: color(secondary, dark) !important; }

    .u-colorSecondaryLight      { color: color(secondary, light) !important; }

    .u-colorHighlight           { color: color(highlight) !important; }

    .u-colorHighlightDark       { color: color(highlight, dark) !important; }

    .u-colorHighlightLight      { color: color(highlight, light) !important; }


    // Color Utilities - Status
    // -------------------------------------------------------------------------

    .u-colorAlert                  { color: color(alert) !important; }

    .u-colorInfo                   { color: color(info) !important; }

    .u-colorSuccess                { color: color(success) !important; }

    .u-colorWarning                { color: color(warning) !important; }

}

