// =============================================================================
// ALIGN (Tools)
// =============================================================================


@mixin u-alignBaseline          { vertical-align: baseline !important; }

@mixin u-alignBottom            { vertical-align: bottom !important; }

@mixin u-alignMiddle            { vertical-align: middle !important; }

@mixin u-alignTop               { vertical-align: top !important; }

