// =============================================================================
// COLORS
// =============================================================================


// Color Map
// -----------------------------------------------------------------------------

$colorMap: (

    // Basics
    // -------------------------------------------------------------------------

    blacks: (
        base:                   #000
    ),

    whites: (
        base:                   #fcfcfd,
        light:                  #fff
    ),

    greys: (
        base:                   #798289,
        darkest:                #313b47,
        darker:                 #3c4043,
        dark:                   #556273,
        medium:                 #acb3be,
        light:                  #e1e6eb,
        lighter:                #f1f3f7,
        lightest:               #f8f9fb
    ),


    // Branding
    // -------------------------------------------------------------------------

    primary: (
        base:                   #00abc9,
        darker:                 #008ba3,
        dark:                   #009cb7,
        light:                  #c7e8ee
    ),

    secondary: (
        base:                   #fcfcfd,
        darker:                 #e1e6eb,
        dark:                   #f8f9fb
    ),

    highlight: (
        base:                   #ff6603,
        darker:                 #ee4e00,
        dark:                   #f25900
    ),


    // States
    // -------------------------------------------------------------------------

    alert: (
        base:                   #db636b,
        light:                  #f8e0e1
    ),

    info: (
        base:                   #00abc9,
        light:                  #e5f6f9
    ),

    success: (
        base:                   #95db89,
        light:                  #eaf8e7
    ),

    warning: (
        base:                   #ffb800,
        light:                  #fff9d9
    ),


    // Text
    // -------------------------------------------------------------------------

    link: (
        base:                   #313b47,
        hover:                  #556273,
        active:                 #3c4043
    ),


    // Order status'
    // -------------------------------------------------------------------------

    orderStatus: (
        awaitingFulfilment:     #6eccfc,
        awaitingPayment:        #ffb800,
        awaitingPickup:         #b186cb,
        awaitingShipment:       #db6e63,
        cancelled:              #3c4043,
        completed:              #95db89,
        declined:               #ca2f3a,
        partiallyShipped:       #3e62a1,
        pending:                #acb4be,
        shipped:                #95db89,
        refunded:               #f80,
        verificationRequired:   #e89fae
    )
);


// Color Map Function
// -----------------------------------------------------------------------------

@function color($color, $tone: "base") {

    @if map-has-key($colorMap, $color) {
        @return map-get(map-get($colorMap, $color), $tone);
    }

    @warn "Unknown `#{$color}` in $colorMap.";
    @return null

}

