// =============================================================================
// COLORS
// =============================================================================


// Basics
// -----------------------------------------------------------------------------

$color-black:                       #000;
$color-white:                       #fff;

$color-whitesBase:                  #fcfcfd;

$color-grey:                        #798289;
$color-greyDarkest:                 #232831;
$color-greyDarker:                  #282c30;
$color-greyDark:                    #556273;
$color-greyMedium:                  #acb3be;
$color-greyLight:                   #e1e6eb;
$color-greyLighter:                 #f2f4f6;
$color-greyLightest:                #f7f8f9;


// Branding
// -----------------------------------------------------------------------------

$color-primary:                     #00abc9;
$color-primaryDarker:               #008ba3;
$color-primaryDark:                 #009cb7;
$color-primaryLight:                #c7e8ee;

$color-secondary:                   #fff;
$color-secondaryDarker:             #e1e6eb;
$color-secondaryDark:               #f8f9fb;

$color-highlight:                   #00abc9;
$color-highlightDarker:             #008ba3;
$color-highlightDark:               #009cb7;


// States
// -----------------------------------------------------------------------------

$color-error:                       #db636b;
$color-errorLight:                  #f8e0e1;

$color-info:                        #00abc9;
$color-infoLight:                   #d8f0f4;

$color-success:                     #95db89;
$color-successLight:                #dfefdc;

$color-warning:                     #ffb800;
$color-warningLight:                #fff9d9;


// Text
// -----------------------------------------------------------------------------

$color-textBase:                    #313b47;
$color-textBase-hover:              #556273;
$color-textBase-active:             #3c4043;


// Order status
// -----------------------------------------------------------------------------

$color-orderAwaitingFulfilment:     #6eccfc;
$color-orderAwaitingPayment:        #f80;
$color-orderAwaitingPickup:         #b186cb;
$color-orderAwaitingShipment:       #ca2f3a;
$color-orderCancelled:              #3c4043;
$color-orderCompleted:              #95db89;
$color-orderDeclined:               #955831;
$color-orderDisputed:               #9960ff;
$color-orderPartiallyShipped:       #3e62a1;
$color-orderPending:                #acb4be;
$color-orderShipped:                #95db89;
$color-orderRefunded:               #ffb800;
$color-orderVerificationRequired:   #e89fae;




// Color Map
// -----------------------------------------------------------------------------

$colorMap: (

    // Basics
    // -------------------------------------------------------------------------

    blacks: (
        base:                   $color-black
    ),

    whites: (
        base:                   $color-whitesBase,
        bright:                 $color-white
    ),

    greys: (
        base:                   $color-grey,
        darkest:                $color-greyDarkest,
        darker:                 $color-greyDarker,
        dark:                   $color-greyDark,
        medium:                 $color-greyMedium,
        light:                  $color-greyLight,
        lighter:                $color-greyLighter,
        lightest:               $color-greyLightest
    ),


    // Branding
    // -------------------------------------------------------------------------

    primary: (
        base:                   $color-primary,
        darker:                 $color-primaryDarker,
        dark:                   $color-primaryDark,
        light:                  $color-primaryLight
    ),

    secondary: (
        base:                   $color-secondary,
        darker:                 $color-secondaryDarker,
        dark:                   $color-secondaryDark
    ),

    highlight: (
        base:                   $color-highlight,
        darker:                 $color-highlightDarker,
        dark:                   $color-highlightDark
    ),


    // States
    // -------------------------------------------------------------------------

    error: (
        base:                   $color-error,
        light:                  $color-errorLight
    ),

    info: (
        base:                   $color-info,
        light:                  $color-infoLight
    ),

    success: (
        base:                   $color-success,
        light:                  $color-successLight
    ),

    warning: (
        base:                   $color-warning,
        light:                  $color-warningLight
    ),


    // Text
    // -------------------------------------------------------------------------

    link: (
        base:                   $color-textBase,
        hover:                  $color-textBase-hover,
        active:                 $color-textBase-active
    ),


    // Order status'
    // -------------------------------------------------------------------------

    orderStatus: (
        awaitingFulfilment:     $color-orderAwaitingFulfilment,
        awaitingPayment:        $color-orderAwaitingPayment,
        awaitingPickup:         $color-orderAwaitingPickup,
        awaitingShipment:       $color-orderAwaitingShipment,
        cancelled:              $color-orderCancelled,
        completed:              $color-orderCompleted,
        declined:               $color-orderDeclined,
        disputed:               $color-orderDisputed,
        partiallyShipped:       $color-orderPartiallyShipped,
        pending:                $color-orderPending,
        shipped:                $color-orderShipped,
        refunded:               $color-orderRefunded,
        verificationRequired:   $color-orderVerificationRequired
    )
);


// Color Map Function
// -----------------------------------------------------------------------------

@function color($color, $tone: "base") {

    @if map-has-key($colorMap, $color) {
        @return map-get(map-get($colorMap, $color), $tone);
    }

    @warn "Unknown `#{$color}` in $colorMap.";
    @return null

}

