// =============================================================================
// COLORS
// =============================================================================


// Basics
// -----------------------------------------------------------------------------

$black:                         #000;
$white:                         #fff;

$whitesBase:                    #fcfcfd;

$grey:                          #798289;
$greyDarkest:                   #232831;
$greyDarker:                    #282c30;
$greyDark:                      #556273;
$greyMedium:                    #acb3be;
$greyLight:                     #e1e6eb;
$greyLighter:                   #f2f4f6;
$greyLightest:                  #f7f8f9;


// Branding
// -----------------------------------------------------------------------------

$primary:                       #00abc9;
$primaryDarker:                 #008ba3;
$primaryDark:                   #009cb7;
$primaryLight:                  #c7e8ee;

$secondary:                     #fff;
$secondaryDarker:               #e1e6eb;
$secondaryDark:                 #f8f9fb;

$highlight:                     #00abc9;
$highlightDarker:               #008ba3;
$highlightDark:                 #009cb7;


// States
// -----------------------------------------------------------------------------

$error:                         #db636b;
$errorLight:                    #f8e0e1;

$info:                          #00abc9;
$infoLight:                     #d8f0f4;

$success:                       #95db89;
$successLight:                  #dfefdc;

$warning:                       #ffb800;
$warningLight:                  #fff9d9;


// Text
// -----------------------------------------------------------------------------

$textBase:                      #313b47;
$textBase-hover:                #556273;
$textBase-active:               #3c4043;


// Order status
// -----------------------------------------------------------------------------

$orderAwaitingFulfilment:       #6eccfc;
$orderAwaitingPayment:          #f80;
$orderAwaitingPickup:           #b186cb;
$orderAwaitingShipment:         #ca2f3a;
$orderCancelled:                #3c4043;
$orderCompleted:                #95db89;
$orderDeclined:                 #955831;
$orderDisputed:                 #9960ff;
$orderPartiallyShipped:         #3e62a1;
$orderPending:                  #acb4be;
$orderShipped:                  #95db89;
$orderRefunded:                 #ffb800;
$orderVerificationRequired:     #e89fae;




// Color Map
// -----------------------------------------------------------------------------

$colorMap: (

    // Basics
    // -------------------------------------------------------------------------

    blacks: (
        base:                   $black
    ),

    whites: (
        base:                   $whitesBase,
        bright:                 $white
    ),

    greys: (
        base:                   $grey,
        darkest:                $greyDarkest,
        darker:                 $greyDarker,
        dark:                   $greyDark,
        medium:                 $greyMedium,
        light:                  $greyLight,
        lighter:                $greyLighter,
        lightest:               $greyLightest
    ),


    // Branding
    // -------------------------------------------------------------------------

    primary: (
        base:                   $primary,
        darker:                 $primaryDarker,
        dark:                   $primaryDark,
        light:                  $primaryLight
    ),

    secondary: (
        base:                   $secondary,
        darker:                 $secondaryDarker,
        dark:                   $secondaryDark
    ),

    highlight: (
        base:                   $highlight,
        darker:                 $highlightDarker,
        dark:                   $highlightDark
    ),


    // States
    // -------------------------------------------------------------------------

    error: (
        base:                   $error,
        light:                  $errorLight
    ),

    info: (
        base:                   $info,
        light:                  $infoLight
    ),

    success: (
        base:                   $success,
        light:                  $successLight
    ),

    warning: (
        base:                   $warning,
        light:                  $warningLight
    ),


    // Text
    // -------------------------------------------------------------------------

    link: (
        base:                   $textBase,
        hover:                  $textBase-hover,
        active:                 $textBase-active
    ),


    // Order status'
    // -------------------------------------------------------------------------

    orderStatus: (
        awaitingFulfilment:     $orderAwaitingFulfilment,
        awaitingPayment:        $orderAwaitingPayment,
        awaitingPickup:         $orderAwaitingPickup,
        awaitingShipment:       $orderAwaitingShipment,
        cancelled:              $orderCancelled,
        completed:              $orderCompleted,
        declined:               $orderDeclined,
        disputed:               $orderDisrupted,
        partiallyShipped:       $orderPartiallyShipped,
        pending:                $orderPending,
        shipped:                $orderShipped,
        refunded:               $orderRefunded,
        verificationRequired:   $orderVerificationRequired
    )
);


// Color Map Function
// -----------------------------------------------------------------------------

@function color($color, $tone: "base") {

    @if map-has-key($colorMap, $color) {
        @return map-get(map-get($colorMap, $color), $tone);
    }

    @warn "Unknown `#{$color}` in $colorMap.";
    @return null

}

