// =============================================================================
// COLORS (Tools)
// =============================================================================


// Background Mixins - Brand
// -----------------------------------------------------------------------------

@mixin u-bgPrimary              { background-color: color(primary) !important; }

@mixin u-bgPrimaryDark          { background-color: color(primary, dark) !important; }

@mixin u-bgPrimaryLight         { background-color: color(primary, light) !important; }

@mixin u-bgSecondary            { background-color: color(secondary) !important; }

@mixin u-bgSecondaryDark        { background-color: color(secondary, dark) !important; }

@mixin u-bgSecondaryLight       { background-color: color(secondary, light) !important; }

@mixin u-bgHighlight            { background-color: color(highlight) !important; }

@mixin u-bgHighlightDark        { background-color: color(highlight, dark) !important; }

@mixin u-bgHighlightLight       { background-color: color(highlight, light) !important; }


// Background Mixins - Events
// -----------------------------------------------------------------------------

@mixin u-bgEvent                { background-color: color(events, event) !important; }

@mixin u-bgRelease              { background-color: color(events, release) !important; }

@mixin u-bgDlc                  { background-color: color(events, dlc) !important; }

@mixin u-bgCompetition          { background-color: color(events, competition) !important; }

@mixin u-bgDemo                 { background-color: color(events, demo) !important; }


// Color Mixins - Brand
// -----------------------------------------------------------------------------

@mixin u-colorPrimary           { color: color(primary) !important; }

@mixin u-colorPrimaryDark       { color: color(primary, dark) !important; }

@mixin u-colorPrimaryLight      { color: color(primary, light) !important; }

@mixin u-colorSecondary         { color: color(secondary) !important; }

@mixin u-colorSecondaryDark     { color: color(secondary, dark) !important; }

@mixin u-colorSecondaryLight    { color: color(secondary, light) !important; }

@mixin u-colorHighlight         { color: color(highlight) !important; }

@mixin u-colorHighlightDark     { color: color(highlight, dark) !important; }

@mixin u-colorHighlightLight    { color: color(highlight, light) !important; }


// Color Mixins - Events
// -----------------------------------------------------------------------------

@mixin u-colorEvent             { color: color(events, event) !important; }

@mixin u-colorRelease           { color: color(events, release) !important; }

@mixin u-colorDlc               { color: color(events, dlc) !important; }

@mixin u-colorCompetition       { color: color(events, competition) !important; }

@mixin u-colorDemo              { color: color(events, demo) !important; }

