// =============================================================================
// LIBRARY MIXINS & FUNCTIONS
// =============================================================================

// Responsive Breakpoints
// -----------------------------------------------------------------------------
//
// Add to your object/theme file
// Eg. @include breakpoint(medium) { styles }
//
// -----------------------------------------------------------------------------

@mixin breakpoint($size) {

    @if $size == xxxlarge {
        @media (min-width: 1921px) { @content; }
    }
    @if $size == xxlarge {
        @media (min-width: 1681px) { @content; }
    }
    @else if $size == xlarge {
        @media (min-width: 1441px) { @content; }
    }
    @else if $size == large {
        @media (min-width: 1281px) { @content; }
    }
    @else if $size == medium {
        @media (min-width: 1025px) { @content; }
    }
    @else if $size == small {
        @media (min-width: 769px) { @content; }
    }
    @else if $size == xsmall {
        @media (min-width: 481px) { @content; }
    }
    @else if $size == xxsmall {
        @media (min-width: 320px) { @content; }
    }

}


// Rem Calculations
// -----------------------------------------------------------------------------

@function stripUnit($num) {
    @return $num / ($num * 0 + 1);
}

@function convertToRem($value, $base-value: $fontSizeBase) {

    $value: stripUnit($value) / stripUnit($base-value) * 1rem;
    @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
    @return $value;
}

@function remCalc($values, $base-value: $fontSizeRoot) {

    $max: length($values);

    @if $max == 1 { @return convertToRem(nth($values, 1), $base-value); }

    $remValues: ();

    @for $i from 1 through $max {
        $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }

    @return $remValues;
}

